<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/js/element/theme-default/index.css">
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/element/index.js"></script>
</head>
<body>
    <div id="main_con">
        <div style="display: flex;justify-content: space-between;margin: 20px 0;">
            <div style="display: flex;">
                <el-input style="margin: 0 10px 0 0;" v-model="searchForm.componentname" placeholder="组件名搜索"></el-input>
                <el-input style="margin: 0 10px 0 0;" v-model="searchForm.manufacturer" placeholder="厂商搜索"></el-input>
            </div>
            <div>
                <el-button size="medium" type="success" icon="el-icon-plus" @click="add">新增组件</el-button>
                <el-button size="medium" type="primary" icon="el-icon-search" @click="search">搜索</el-button>
            </div>
        </div>
        <el-table :data="tabledata" border height="500" max-heiht="800">
            <el-table-column label="组件名" prop="componentname"></el-table-column>
            <el-table-column label="厂商" prop="manufacturer"></el-table-column>
            <el-table-column label="单价" prop="componentname"></el-table-column>
            <el-table-column label="成本" prop="componentname"></el-table-column>
            <el-table-column label="库存" prop="componentname"></el-table-column>
            <el-table-column label="仓库中位置" prop="componentname"></el-table-column>
            <el-table-column label="操作" prop="componentname">
                <template slot-scope="scope">
                    <el-button size="small" type="success" icon="el-icon-plus" @click="go">入库</el-button>
                    <el-button size="small" type="danger" icon="el-icon-minus" @click="out">出库</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</body>
<script>
    new Vue({
        el:"#main_con",
        data:{
            tabledata:[
                {
                    componentname:"大锤",

                },
            ],
            searchForm:{
                componentname:"",
                manufacturer:"",
            },
        },
        methods:{
            search(){

            },
            add(){

            },
            go(){
                this.$prompt('输入入库数量','提示',{
                    confirmButtonText:"确定",
                    cancelButtonText:"取消",
                    closeOnClickModal:false,
                    inputValidator:this.goFuncValidator,
                }).then(({value})=>{
                    this.$message({
                        type: 'success',
                        message: '真牛逼，一下子成功新加了'+value+'个库存!'
                    });  
                    return   
                    $.ajax({
                        url:"",
                        type:"post",
                        data:{

                        },
                        success:(data)=>{
                            
                        }
                    })
                })
            },
            goFuncValidator(val){
                var reg = new RegExp("^-?[0-9]*.?[0-9]*$");
                if(!reg.test(val)){
                    return "你是傻逼吗？只能输入数字！"
                }
                return true
            },
            out(){

            }
        },
        mounted(){

        }
    })
</script>
</html>