<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/js/element/theme-default/index.css">
    <link rel="stylesheet" href="./js/printjs/print.min.css">
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/element/index.js"></script>
    <script src="./js/html2canvas.js"></script>
    <script src="./js/printjs/print.min.js"></script>
    <style>
       * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div id="main_con" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
        <el-card style="width: 500px;padding-top:20px">
            <el-form :model="form" :rules="rules" ref="form" label-width="100px" class="demo-form">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="form.password" type="password"></el-input>
                </el-form-item>
            </el-form>
            <div style="text-align: center;">
                <el-button type="primary" @click="login">登录</el-button>
            </div>
        </el-card>
    </div>
</body>
<script>
    new Vue({
        el: "#main_con",
        data: {
            form: {
                username: "",
                password: "",
            },
            rules: {
                username: [
                    { required: true, message: '用户名', trigger: 'blur' },
                ],
                password: [
                    { required: true, message: '密码', trigger: 'blur' },
                ],
            }
        },
        methods: {
            login() {
                $.ajax({
                    url: "/tomato/user/login",
                    type: "post",
                    data: this.form,
                    success: (data) => {
                        if (data.code == '200') {
                            sessionStorage.setItem("token", data.data.token);
                            window.location.href = "/component/index.html";
                        } else {
                            this.$message({
                                message: '登录成功',
                                type: 'success'
                            });
                        }
                    }
                })
            }
        },
        moutned() {

        }
    })
</script>

</html>